.head {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}

/* header {
  position: initial;
  padding-top: 1rem;
} */

.sec {
  min-height: 60vh;
  /* background-color: #000; */
}

.sec__container {
  background-color: #f5f5f5;
  /* text-align: center; */
  padding: 2rem 1rem;
  border-radius: 10px;
  width: 70%;
  height: 80vh;
  overflow-y: auto;
}

.holder {
  width: 90%;
  margin: 1rem auto;
  margin-top: 6.8rem;
  justify-content: space-between;
  align-items: flex-start;
}

.masonry-grid {
  column-count: 3;
  column-gap: 20px;
  width: 90%;
  margin: 0 auto;
  /* height: 500px; */
}

.card {
  background-color: #c18383;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

/* .form {
    position: fixed;
} */

.submit_form {
  width: 28%;
  padding: 1rem;
  border-radius: 5px;
  background-color: #efe7fc;
}

label {
  display: block;
  margin: 0.5rem 0;
}

select,
textarea {
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 0.3rem;
  background-color: #fff;
  color: #000;
}

textarea {
  resize: none;
  height: 100px;
}

button[type="submit"] {
  background-color: #007557;
  padding: 0.4rem 1.6rem;
  margin: 0.7rem 0;
  border-radius: 10px;
  color: #fff;
}

@media (max-width: 768px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .masonry-grid {
    column-count: 1;
  }
}
