#flash-container {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
}
.flash-message.success {
  background-color: #d4edda;
  color: #155724;
}

.flash-message.error {
  background-color: #f8d7da;
  color: #721c24;
}

.flash-message.danger {
  background-color: red;
  /* width: 500px; */
  color: #000;
}

.flash-message.info {
  background-color: #cce5ff;
  color: #004085;
}

.flash-message .close-btn {
  background: #cce5ff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: .5rem;
  color: inherit;
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
}
