<div class="head-title">
  <div class="left">
    <h1>Analytics</h1>
  </div>
</div>

<div class="container">
  <ul class="box-info">
    <li>
      <i class="bx"></i>
      <span class="text">
        <h3>{{all}}</h3>
        <p>Submissions</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-hard-hat"></i>
      <span class="text">
        <h3>{{tech}}</h3>
        <p>Technical Questions</p>
      </span>
    </li>
    <li>
      <i class="bx"></i>
      <span class="text">
        <h3>{{cult}}</h3>
        <p>Culture fit Questions</p>
      </span>
    </li>
  </ul>
</div>
