<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} bhuggetti {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='flash.css') }}"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <div id="flash-container">
      {% for category, message in messages %}
      <div class="flash-message {{ category }}">
        <span>{{ message }}</span>
        <button class="close-btn" onclick="closeFlashMessage()">X</button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <!-- Navigation Bar -->
    <header id="nav">
      <nav class="flex">
        <li>
          <a href="{{ url_for('index') }}" class="logo">bhuggetti</a>
        </li>
        <li class="docs"><a href="{{ url_for('docs') }}">Read Docs</a></li>
        <ul class="nav-ul flex">
          <ul class="first-ul">
            {% if current_user.is_authenticated %}
            <li>
              <a href="{{ url_for('views.home') }}">Dashboard</a>
            </li>
            {% else %}
            <li>
              <a href="{{ url_for('auth.login') }}">Login</a>
            </li>
            {% endif %}
          </ul>
        </ul>

        <button
          class="toggle"
          type="button"
          name="button"
          aria-expanded="false"
        >
          Menu
        </button>
        <ul
          id="navigation"
          class="navigation flex"
          data-visible="false"
          aria-hidden="true"
        >
          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
          <li><a href="{{ url_for('auth.sign_up') }}">Sign up</a></li>
          <li><a href="{{ url_for('docs') }}">Read the docs</a></li>
        </ul>
      </nav>
    </header>

    <div>{% block content %} {% endblock %}</div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='flash.js') }}"></script>
  </body>
</html>
