<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="stylesheet" href="../static/cpanel.css" />

    <title>bhuggettiAPI</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <div id="flash-container">
      {% for category, message in messages %}
      <div class="flash-message {{ category }}">
        <span>{{ message }}</span>
        <button class="close-btn" onclick="closeFlashMessage()">×</button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <section id="sidebar">
      <a href="#" class="brand">
        <i class="bx bxs-smile"></i>
        <span class="text">bhuggettiAPI</span>
      </a>
      <ul class="side-menu top">
        <li class="{% if view == 'dash' %}active{% endif %}">
          <a href="{{ url_for('admin.admin_dash', view='dash') }}">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>

        <li class="{% if view == 'users' %}active{% endif %}">
          <a href="{{ url_for('admin.admin_dash', view='users') }}">
            <i class="bx bxs-user"></i>
            <span class="text">Users</span>
          </a>
        </li>
        <li class="{% if view == 'analytics' %}active{% endif %}">
          <a href="{{ url_for('admin.admin_dash', view='analytics') }}">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Analytics</span>
          </a>
        </li>
        <li class="{% if view == 'questions' %}active{% endif %}">
          <a href="{{ url_for('admin.admin_dash', view='questions') }}">
            <i class="bx bxs-message-dots"></i>
            <span class="text">Questions</span>
          </a>
        </li>
        <li class="{% if view == 'notifications' %}active{% endif %}">
          <a href="{{ url_for('admin.admin_dash', view='notifications') }}">
            <i class="bx bxs-message-dots"></i>
            <span class="text">Notifications</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="#">
            <i class="bx bxs-cog"></i>
            <span class="text">Settings</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('auth.logout') }}" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section>

    <section id="content">
      <nav>
        <i class="bx bx-menu"></i>
        <!-- <a href="#" class="nav-link">Categories</a> -->
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button type="submit" class="search-btn">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden />
        <label for="switch-mode" class="switch-mode"></label>
        <p>Hey {{user.name}}</p>
        <a href="#" class="profile">
          <img
            src="{{ url_for('static', filename='profile_pics/default.png') }}"
            alt="Profile Image"
          />
        </a>
      </nav>

      <main>
        <div class="head-title">
          <div
            class="{% if view != 'notifications' %} left {% else %} right {% endif %}"
          >
            <h1>
              {% if view == "users" %} Users {% elif view=="notifications" %}
              Send Email Updates {% else %} Dashboard {% endif %}
            </h1>

            <ul class="breadcrumb">
              {% if view != "notifications" %}

              <li>
                <a href="#">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Home</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>

        {% if view == 'dash' %} {% include 'admin_dash_view.html' %} {% elif
        view == 'users' %} {% include 'admin_users_view.html' %} {% elif view ==
        'notifications' %} {% include 'admin_notifications.html' %} {% endif %}
      </main>
    </section>

    <script>
      // TOGGLE SIDEBAR
      const menuBar = document.querySelector("#content nav .bx.bx-menu");
      const sidebar = document.getElementById("sidebar");

      menuBar.addEventListener("click", function () {
        sidebar.classList.toggle("hide");
      });

      const searchButton = document.querySelector(
        "#content nav form .form-input button"
      );
      const searchButtonIcon = document.querySelector(
        "#content nav form .form-input button .bx"
      );
      const searchForm = document.querySelector("#content nav form");

      searchButton.addEventListener("click", function (e) {
        if (window.innerWidth < 576) {
          e.preventDefault();
          searchForm.classList.toggle("show");
          if (searchForm.classList.contains("show")) {
            searchButtonIcon.classList.replace("bx-search", "bx-x");
          } else {
            searchButtonIcon.classList.replace("bx-x", "bx-search");
          }
        }
      });

      if (window.innerWidth < 768) {
        sidebar.classList.add("hide");
      } else if (window.innerWidth > 576) {
        searchButtonIcon.classList.replace("bx-x", "bx-search");
        searchForm.classList.remove("show");
      }

      window.addEventListener("resize", function () {
        if (this.innerWidth > 576) {
          searchButtonIcon.classList.replace("bx-x", "bx-search");
          searchForm.classList.remove("show");
        }
      });

      const switchMode = document.getElementById("switch-mode");

      switchMode.addEventListener("change", function () {
        if (this.checked) {
          document.body.classList.add("dark");
        } else {
          document.body.classList.remove("dark");
        }
      });
    </script>
  </body>
</html>
