{% extends 'base.html' %}
<!--  -->

{% block title %} bhuggetti API | My dashbord {% endblock %}

<!--  -->
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}" />
<main>
  <section class="sec">
    <div class="holder flex">
      <div class="sec__container">
        <div class="cards masonry-grid">
          {% for i in posts %}
          <div class="card">
            <p class="name">By: {{i.user.name}}</p>
            <div class="details">
              <p class="question">{{i.question}}</p>
              <!-- <p class="date_created">{{i.date_created}}</p> -->
            </div>
            <p class="speciality">{{i.domain}}</p>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="submit_form_outer">
        <div class="submit_form">
          <h3>Post a question</h3>
          <div class="form">
            <form
              id="questionForm"
              method="POST"
              action="{{ url_for('views.submit_question')}}"
            >
              <div class="q-entry">
                <label for="category">Question Type</label>
                <select name="category" id="category">
                  <option value="none">Select</option>
                  <option value="culture-fit">Culture Fit Question</option>
                  <option value="technical">Technical Question</option>
                </select>
              </div>

              <div class="q-entry">
                <label for="field">Question Field</label>
                <select name="field" id="field">
                  <option value="none">Select</option>
                  <option value="architecture">Architecture</option>
                  <option value="software">Software Engineering</option>
                </select>
              </div>

              <div class="q-entry">
                <label for="question">Question</label>
                <textarea name="question" id="question" required></textarea>
              </div>
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>

        <div class="btns flex">
          <a
            href="{{ url_for('views.home', view='culture-fit') }}"
            class="{% if view == 'culture-fit' %}active{% endif %}"
          >
            Culture fit questions
          </a>
          <a
            href="{{ url_for('views.home', view='technical') }}"
            class="{% if view == 'technical' %}active{% endif %}"
          >
            Technical questions
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
