{% extends 'base.html' %}
<!--  -->

{% block title %} bhuggetti API | My dashbord {% endblock %}

<!--  -->
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}" />
<link
  href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
  rel="stylesheet"
/>

<main>
  <section id="sidebar">
    <a href="#" class="brand">
      <i class="bx bx-happy-heart-eyes bx-spin"></i>
      <span class="text">bhuggettiAPI</span>
    </a>
    <ul class="side-menu top">
      <li class="active">
        <a href="#">
          <i class="bx bxs-dashboard"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          href="{{ url_for('views.home', view='all') }}"
          class="{% if view == 'all' %}active{% endif %}"
        >
          <i class="bx bxs-user"></i>
          <span class="text">Submissions</span>
        </a>
      </li>
      <li>
        <a
          href="{{ url_for('views.home', view='culture-fit') }}"
          class="{% if view == 'culture-fit' %}active{% endif %}"
        >
          <i class="bx bxs-group"></i>
          <span class="text">Culture Fit Questions</span>
        </a>
      </li>
      <li>
        <a
          href="{{ url_for('views.home', view='technical') }}"
          class="{% if view == 'technical' %}active{% endif %}"
        >
          <i class="bx bxs-book-reader"></i>
          <span class="text">Technical Questions</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a href="{{ url_for('views.settings', id=user.id) }}">
          <i class="bx bxs-cog" style="color: #afcce6"></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('auth.logout') }}" class="logout">
          <i class="bx bxs-log-out-circle"></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- SIDEBAR -->

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i class="bx bx-menu"></i>
      <!-- <a href="#" class="nav-link">Categories</a> -->
      <span></span>
      <input type="checkbox" id="switch-mode" hidden />
      <label for="switch-mode" class="switch-mode"></label>
      <p>Hey {{user.name}}</p>
      <a href="#" class="profile">
        <img
          src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}"
          alt="Profile Image"
        />
      </a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
        </div>
      </div>

      <ul class="box-info">
        <li>
          <i class="bx"></i>
          <span class="text">
            <h3>{{all}}</h3>
            <p>Submissions</p>
          </span>
        </li>
        <li>
          <i class="bx bxs-hard-hat"></i>
          <span class="text">
            <h3>{{tech}}</h3>
            <p>Technical Questions</p>
          </span>
        </li>
        <li>
          <i class="bx"></i>
          <span class="text">
            <h3>{{cult}}</h3>
            <p>Culture fit Questions</p>
          </span>
        </li>
      </ul>

      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Recent Submissions</h3>
          </div>
          <table>
            <thead>
              <tr>
                <th>Question</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for post in posts %}
              <tr>
                <td>
                  <span class="question">{{post.question}}</span>
                </td>
                <td>
                  <a
                    href="{{ url_for('views.delete_post', id=post.id, field=post.field, view=view) }}"
                    ><i class="bx bxs-trash-alt"></i
                  ></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="todo">
          <div class="head">
            <h3>Post a Question</h3>
          </div>
          <form
            id="questionForm"
            method="POST"
            action="{{ url_for('views.submit_question', view=view)}}"
          >
            <div class="q-entry">
              <label for="category">Question Type</label>
              <select name="category" id="category">
                <option value="culture-fit" selected>
                  Culture Fit Question
                </option>
                <option value="technical">Technical Question</option>
              </select>
            </div>

            <div class="q-entry">
              <label for="field">Question Field</label>
              <select name="field" id="field">
                <option value="Not Relevant" selected>Not Relevant</option>
                <option value="Architecture">Architecture</option>
                <option value="Software ENG">Software Engineering</option>
                <option value="Business Management">Business Management</option>
                <option value="Mechanical Engineering">
                  Mechanical Engineering
                </option>
              </select>
            </div>

            <div class="q-entry">
              <label for="question">Question</label>
              <textarea name="question" id="question" required></textarea>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->

  <script>
    const allSideMenu = document.querySelectorAll(
      "#sidebar .side-menu.top li a"
    );

    allSideMenu.forEach((item) => {
      const li = item.parentElement;

      item.addEventListener("click", function () {
        allSideMenu.forEach((i) => {
          i.parentElement.classList.remove("active");
        });
        li.classList.add("active");
      });
    });

    // TOGGLE SIDEBAR
    const menuBar = document.querySelector("#content nav .bx.bx-menu");
    const sidebar = document.getElementById("sidebar");

    menuBar.addEventListener("click", function () {
      sidebar.classList.toggle("hide");
    });

    const switchMode = document.getElementById("switch-mode");

    switchMode.addEventListener("change", function () {
      if (this.checked) {
        document.body.classList.add("dark");
      } else {
        document.body.classList.remove("dark");
      }
    });
  </script>

  <script>
    const select = document.getElementById("field");
    let options = Array.from(select.options);

    // Remove the "Select" option from sorting
    const selectOption = options.shift();

    // Sort options alphabetically by their text
    options.sort((a, b) => a.text.localeCompare(b.text));

    // Add the "Select" option back at the beginning
    options.unshift(selectOption);

    // Rebuild the select options
    select.innerHTML = "";
    options.forEach((option) => select.add(option));
  </script>
  {% endblock %}
</main>
