<div class="head-title">
  <div class="left">
    <h1>Dashboard</h1>
  </div>
</div>

<ul class="box-info">
  <li>
    <i class="bx"></i>
    <span class="text">
      <h3>Hey {{user.name}}</h3>
    </span>
  </li>
  <li>
    <i class="bx bxs-hard-hat"></i>
    <span class="text">
      <h3>{{all|length}}</h3>
      <p>Submissions</p>
    </span>
  </li>
</ul>

<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>Recent Submissions</h3>
    </div>
    <table>
      <thead>
        <tr>
          <th>Question</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>
            <span class="question">{{post.question}}</span>
          </td>
          <td>
            <a
              href="{{ url_for('views.delete_post', id=post.id, field=post.field, view=view) }}"
              ><i class="bx bxs-trash-alt"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="todo">
    <div class="head">
      <h3>Post a Question</h3>
    </div>
    <form
      id="questionForm"
      method="POST"
      action="{{ url_for('views.submit_question', view=view)}}"
    >
      <div class="q-entry">
        <label for="category">Question Type</label>
        <select name="category" id="category">
          <option value="culture-fit" selected>Culture Fit Question</option>
          <option value="technical">Technical Question</option>
        </select>
      </div>

      <div class="q-entry">
        <label for="field">Question Field</label>
        <select name="field" id="field" onchange="addOptions()">
          {% for field in fields%}
          <option value="{{field.question_field}}">
            {{field.question_field}}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="q-entry" id="newField">
        <label for="addField">Enter question field</label>
        <input type="text" name="addField" id="addField" />
      </div>

      <div class="q-entry">
        <label for="question">Question</label>
        <textarea name="question" id="question" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
