<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submit a Question</title>
  </head>
  <body>
    <h1>Post an Interview Question</h1>
    <form
      id="questionForm"
      method="POST"
      action="{{ url_for('views.submit_question')}}"
    >
      <div class="q-entry">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" required />
      </div>

      <div class="q-entry">
        <label for="category">Category:</label>
        <select name="category" id="category">
          <option value="none">Select</option>
          <option value="software engineering">Software Engineering</option>
          <option value="mechanical engineering">Mechanical Engineering</option>
        </select>
      </div>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
